@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
  }
  .container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }